@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

a {
  text-decoration: none;
  color: inherit;
}

* {
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  /* Set full page background to white */
  display: flex;
  flex-direction: column;
  /* Ensure elements stack properly */
  align-items: center;
  /* Center align content */
  justify-content: flex-start;
  /* Start from the top */
  padding-top: 80px;
  /* Prevent navbar from overlapping content */


}

.app {
  width: 100%;
  margin: 0px 50px;

  background: linear-gradient(rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)),
    url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092') no-repeat center center fixed;
  margin: 0 auto;

}



#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* Ensures elements stack properly */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}